@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1><i>Enjoy Shopping!!</i></h1>
    <i>Buy. Think. Grow</i>
    
</div>

<center><img height="250px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR0QaHoPzp9JEPTNWA5NXyWVF3S6Nv3rylv9w&usqp=CAU" /></center>
